*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
.App{
  align-items: center;
}
.main-container{
  display: flex;
}
.danger{
  width: 100vh;
  height: 3vh;
  background-color: rgb(202, 98, 98);
  color: rgb(248, 247, 247);
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}